<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nidhigondhia.coordinatordemoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CoordinatorBehavioursAct"
            android:label="@string/title_activity_coordinator_behaviours"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CollapsingToolbarAct"
            android:label="@string/title_activity_collapsing_toolbar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FabAndSnackBarAct"
            android:label="@string/title_activity_fab_and_snack_bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FabFixToViewAct"
            android:label="@string/title_activity_fab_fix_to_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>